body {
    background-color: #e0e0e0;
}

.rect-background {
    background-color: #ffffff;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    padding: 2% 5%;
    
    border-radius: 20px;
}

.font {
    font-family: 'Poppins', sans-serif;
}

.write-white {
    color: #ffffff;
}

.round-pic {
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.badges {
    width: 5%;
    border-width: 1px;
}

#business-card {
    background-color: #003C5E;
    padding: 2%;
    display: flex;
    margin: auto;
    width: auto !important;
    
}

#me {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#profile-picture {
    width: 20%;
    height: 20%;
    margin-right: 5%;
}

#name{
    font-size: larger;
    display: flex;
    align-items: center;
}

#title {
    line-height: 0%;
    font-size: small;
    padding-bottom: 5%;
}

#contacts {
    padding: 2%;
}