#body {
    background-color: #e0e0e0;
}

.rect-background {
    background-color: #ffffff;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    padding: 2% 5%;
    
    border-radius: 20px;
}

.write-white {
    color: #ffffff;
}

#business-card {
    background-color: darkblue;
    margin: 0%;
}

#me {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#profile-picture {
    border-radius: 100%;
    width: 30%;
    height: 30%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    margin-left: 5%;
}

#name{
    font-family: 'Poppins', sans-serif;
    max-height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50px;
}