body {
    background-color: #e0e0e0;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.rect-background {
    background-color: #ffffff;
    margin: auto;
    margin-top: 2%;
    width: 50%;
    padding: 2% 5%;
    
    border-radius: 20px;
}

.font {
    font-family: 'Poppins', sans-serif;
}

.font-contact{
    font-size: small;
    padding-left: 1%;
    
}

.contact-list {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.write-white {
    color: #ffffff;
}

.round-pic {
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.badges {
    width: 5%;
    border-width: 1px;
}

.topic {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    width: 175px;
    text-align: center;
    font-size: 25px ;
}

#business-card {
    background-color: #003C5E;
    padding: 2%;
    display: flex;
    margin: auto;
    width: auto !important;
    
}

#me {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#profile-picture {
    width: 150px;
    height: 150px;
    margin-right: 5%;
}

#name{
    font-size: larger;
    display: flex;
    align-items: center;
}

#title {
    line-height: 0%;
    font-size: small;
}

#contacts {
    padding-top: 2%;
    padding-left: 2%;

}

#topic-description {
    text-indent: 50px;
    color: rgb(50, 50, 50);
}